.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    /*mouvement sur l'axe x y */
    /*transform: translate(50px, 100px);*/

    /*agrandir la taille sur l'axe X Y*/
    /*transform: scale(4, 4);*/
    
    /*mouvement de degré*/
   /* transform: skew(20deg, 20deg);*/

    /*transform: translate(100px, 100px) scale(3, 2) skew(20deg, 20deg);*/

    /*transform: rotate(45deg);*/
}
.box:hover{
    cursor: pointer;
    transition: all 2s linear;
    transform: rotate(360deg);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}